.card {
    width: 50%;
    margin: 20px auto;
}

.home {
    text-align: center;
    margin: 20px auto;
}

.link {
    margin: 10px;
    color: azure;
}

.link:hover {
    text-decoration: none;
    color: bisque;
} 

